@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Play';
    src: url('/fonts/Play-Regular.ttf');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}


body {
    height: 100%;
	background-color: white;
    overflow: hidden;
}


.app-root {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.question {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    align-items: center;
}

.question__title {
    color: black;
    font-size: 20px;
    font-weight: 550;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
}

.question__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95%;
}

.variant-container {
    perspective: 1000px;
    height: 50px;
    cursor: pointer;
}

.variant-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-style: preserve-3d;
}

.variant-container.is-open .variant-inner {
    transform: rotateX(180deg);
}

.variant-front, .variant-back {
    position: absolute;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    border: 2px solid #fff;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    font-family: 'Play';
}

.variant-front {
    background: linear-gradient(to bottom, #e1b70f, #eca025);
    font-size: 20px;
}

.variant-back {
    background: linear-gradient(to bottom, #f1c40f, #eda635);
    transform: rotateX(180deg); /* Изначально перевернут */
    font-size: 19px;
}

.team-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 7px;
    width: 150px;
    font-size: 30px;
    position: sticky;
    top: 20px;
    align-self: flex-start;
}

.team-score.active {
    border: 3px solid black;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.1);
}

.team-score__color-box {
    width: 60px;
    height: 60px;
    border-radius: 15px;
}

.team-score.blue .team-score__color-box {
    background-color: blue;
}

.team-score.red .team-score__color-box {
    background-color: red;
}

.team-score__score {
    color: black;
}
